/.idea
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
build/
/gradle
/arity/build
/app/build
/guava/build
/gradle.properties
/gradlew
/gradlew.bat
